{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block scripts %}
  <script src="{% static 'shots/main.js' %}" defer></script>
  <script src="{% static 'js/form_modal.js' %}" defer></script>
{% endblock scripts %}

{% block title %} Package List {% endblock title %}

{% block content %}

  {% if messages %}
    {% for message in messages %}
      {% if 'info' in message.tags %}
        {% include 'components/alert.html' with is_info=True title="Success" body=message %}
      {% elif 'error' in message.tags %}
        {% include 'components/alert.html' with is_info=False title="Error" body=message %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% include 'components/header.html' with title="Package List" description="Những package đã GO" is_form_available=True icon="<i class='fa-solid fa-plus'></i>" %}

  <!-- Month select box -->
  <div class="mb-4 flex items-center space-x-4">
    <div class="flex items-center">
      <label for="month-select" class="mr-2 text-sm font-medium text-gray-700 dark:text-gray-300">Month:</label>
      <select id="month-select" name="month" class="w-32 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm dark:border-gray-600 dark:bg-gray-700">
        {% for month_value, month_name in months %}
          <option value="{{ month_value }}" {% if selected_month == month_value %}selected{% endif %}>{{ month_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex items-center">
      <label for="year-select" class="mr-2 text-sm font-medium text-gray-700  dark:text-gray-300">Year:</label>
      <select id="year-select" name="year" class="w-24 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm dark:border-gray-600 dark:bg-gray-700">
        {% for year in years %}
          <option value="{{ year }}" {% if selected_year == year %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  
  <!-- {% for letter in letters %}
    <a href="{% url 'shots:main' letter|lower %}?month={{ selected_month }}" class="{% if letter == selected_letter|upper %}text-slate-50 text-bold{% else %}text-slate-400{% endif %}">{{ letter }}</a>
  {% endfor %} -->

  <!-- Pagination -->
  <div class="mt-4 flex justify-center">
    {% if is_paginated %}
        <nav class="inline-flex rounded-md shadow">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-l-md hover:bg-gray-50 dark:bg-gray-800 dark:text-gray-200 dark:border-gray-600 dark:hover:bg-gray-700">
                    Previous
                </a>
            {% endif %}

            <span class="px-3 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 dark:bg-gray-800 dark:text-gray-200 dark:border-gray-600">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-r-md hover:bg-gray-50 dark:bg-gray-800 dark:text-gray-200 dark:border-gray-600 dark:hover:bg-gray-700">
                    Next
                </a>
            {% endif %}
        </nav>
    {% endif %}
  </div>
    <br>
  {% if packages %}
    <table class="min-w-full table-auto dark:divide-gray-700">
      <thead class="bg-gray-50 dark:bg-gray-700">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Client Name</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Project Name</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Package Name</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Delivery Dates</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200  dark:bg-gray-900 dark:divide-gray-700">
        {% for package in packages %}
        <tr>
          <td class="px-6 py-4 whitespace-nowrap font-semibold">{{ package.project.client.name }}</td>
          <td class="px-6 py-4 whitespace-nowrap ">{{ package.project.project_name }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            <a href="{% url 'shots:detail_package' slug=package.slug %}" class="text-blue-600">{{ package.package_name }}</a>
          </td>
          
          <td class="px-6 py-4 whitespace-nowrap">
            {% if package.earliest_delivery == package.latest_delivery %}
                {{ package.earliest_delivery|date:"D, M.d"|default:"None" }}
            {% else %}
                {{ package.earliest_delivery|date:"D, M.d"|default:"None" }} - {{ package.latest_delivery|date:"D, M.d"|default:"None" }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <p>No packages found</p>
  {% endif %}

  <!-- form modal -->
  <div class="hidden relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="form-modal">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-center justify-center p-4 text-center" id="backdrop">
            <div class="relative transform overflow-hidden rounded-lg text-left shadow-xl transition-all my-8 max-w-lg w-full">
              <form action="" method="POST">
                {% csrf_token %}
                <div class="bg-white dark:text-white dark:bg-slate-300 pt-5 pb-4 px-8">
                    <div class="mt-3 text-left">
                        <h2 class="text-xl font-medium leading-6 text-gray-900" id="modal-title">
                            Add new package
                        </h2>
                        <div class="mt-3">                            
                            <div class="mb-2">
                                <label for="{{form.name.id_for_label}}" class="block text-slate-800 dark:text-slate-900">Package Name: </label>
                                {{form.name|add_class:'bg-slate-100 dark:bg-slate-300 text-slate-400 rounded p-2 w-full'}}
                            </div>
                            <div class="mb-2">
                                <label for="{{form.project.id_for_label}}" class="block text-slate-800 dark:text-slate-900">Project Name: </label>
                                {{form.project|add_class:'bg-slate-100 dark:bg-slate-300 text-slate-400 rounded p-2 w-full'}}
                            </div>
                            <div class="mb-2">
                                <label for="{{form.earliest_delivery.id_for_label}}" class="block text-slate-800 dark:text-slate-900">Earliest delivery: </label>
                                {{form.earliest_delivery|attr:"type=date"|add_class:'bg-slate-100 dark:bg-slate-300 text-slate-400 rounded p-2 w-full'}}
                            </div>
                            <div class="mb-2">
                                <label for="{{form.latest_delivery.id_for_label}}" class="block text-slate-800 dark:text-slate-900">Latest delivery: </label>
                                {{form.latest_delivery|attr:"type=date"|add_class:'bg-slate-100 dark:bg-slate-300 text-slate-400 rounded p-2 w-full'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 dark:text-white dark:bg-slate-400 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="submit" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                        Save
                    </button>
                    <button type="button" id="cancel-btn" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 border border-red-600 rounded mr-3">
                        Cancel
                    </button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

